<!-- home.erb -->
<% require 'roman-numerals' %>

<!DOCTYPE html>
<html>
<head>
    <title><%= "#{charsheet[charsheet.keys.find { _1.include?('Name') }]} (#{charsheet[charsheet.keys.find { _1.include?('Level') }]}) · #{plot['Acts'].last.text }"%></title>
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="refresh" content="300">
</head>

<body>

<div class="row">
    <div class="column">
        <div class="table-wrapper" id="charsheet">
        <table class="container">
            <th colspan="2">Character Sheet</th>
            <% charsheet.each do |key, value| %>
                <% break if key == "XP" %>
                <tr>
                    <td><%= key %></td>
                    <td><%= value %></td>
                </tr>
            <% end %>

            <tr><td colspan=2 class="fancy-separator">· 。ﾟ☆: *.☽ .* :☆ﾟ.</td></tr>

            <tr>
                <td><%= "XP (#{charsheet["XP (%)"].to_f}%)" %></td>
                <td><%= "#{charsheet["XP"].to_i}/#{charsheet["XP Needed"].to_i}" %></td>
            </tr>

            <tr>
                <td><%= "XP Remaining" %></td>
                <td><%= "#{charsheet["XP Remaining"].to_i}" %></td>
            </tr>

            <tr>
                <td><%= "Time Left" %></td>
                <td><%= "~#{charsheet["Time Left (h)"].to_f}#{charsheet["Time Unit"]}" %></td>
            </tr>
        </table>
        </div>
    </div>

    <div class="column">
        <div class="table-wrapper" id="equipment">
        <table class="container">
            <th colspan="2">Equipment</th>
            <% equipment.each do |key, value| %>
                <tr>
                    <td><%= key %></td>
                    <td><%= value %></td>
                </tr>
            <% end %>
        </table>
        </div>
    </div>

    <div class="column">
        <div class="table-wrapper" id="quests">
        <table class="container">
            <th colspan="2">Quests</th>

            <tr>
                <td><b><%= quests["Quests"].last.text %></b></td>
                <td><%= quests["Quests"].last.completed ? "✅" : "👀" %></td>
            </tr>

            <tr>
                <td>Completed</td>
                <td><%= "#{quests["Completed %"].to_f}%" %></td>
            </tr>

            <tr>
                <td>Time Left</td>
                <td><%= "~#{quests["Time Left"].to_f}#{quests["Time Unit"]}" %></td>
            </tr>

            <tr><td colspan=2 class="fancy-separator">· 。ﾟ☆: *.☽ .* :☆ﾟ.</td></tr>
            <tr><td colspan=2 class="fancy-separator">Completed Quests</td></tr>

            <% quests["Quests"][...-1].reverse.each do |quest, index| %>
                <tr>
                    <td><%= quest.text %></td>
                    <td><%= quest.completed ? "✅" : "👀" %></td>
                </tr>
            <% end %>

        </table>
        </div>
    </div>

</div>

<div class="row">
    <div class="column">
        <div class="table-wrapper" id="spells">
        <table class="container">
            <th colspan="2">Spellbook</th>
            <% spellbook.sort_by { _1 }.sort_by { -_2 }.each do |spell, level|%>
                <tr>
                    <td><%= spell %></td>
                    <td><%= RomanNumerals.to_roman(level) %></td>
                </tr>
            <% end %>
        </table>
        </div>
    </div>

    <div class="column">
        <div class="table-wrapper" id="inventory">
        <table class="container">
            <th colspan="2">Inventory</th>
            <tr>
                <% gold = inventory['Items'].delete('Gold') %>
                <td> 🪙 Gold </td>
                <td> <%= "#{gold}" %> </td>
            </tr>

            <tr>
                <td><%= "🎒 Spaces" %></td>
                <td><%= "#{inventory["Inventory Spaces Filled"].to_i}/#{inventory["Inventory Spaces Max"]}" %></tc>
            </tr>

            <tr><td colspan=2 class="fancy-separator">· 。ﾟ☆: *.☽ .* :☆ﾟ.</td></tr>

            <% inventory['Items'].each do |item, quantity| %>
                <tr>
                    <td><%= item %></td>
                    <td><%= quantity %></td>
                </tr>
            <% end %>
        </table>
        </div>
    </div>

    <div class="column">
        <div class="table-wrapper" id="plot">
        <table class="container">
            <th colspan="2">Plot Development</th>

            <tr>
                <td><b><%= plot['Acts'].last.text %></b></td>
                <td><%= plot['Acts'].last.completed ? "✅" : "👀" %></td>
            </tr>

            <tr>
                <td>Completed</td>
                <td><%= "#{plot["Completed %"].to_f}%" %></td>
            </tr>


            <tr>
                <td>Time Left</td>
                <td><%= "~#{plot["Time Left"].to_f}#{plot["Time Unit"]}" %></td>
            </tr>

            <tr><td colspan=2 class="fancy-separator">· 。ﾟ☆: *.☽ .* :☆ﾟ.</td></tr>

            <tr><td colspan=2 class="fancy-separator">Completed Story</td></tr>

            <% plot['Acts'][...-1].reverse.each do |act| %>
                <tr>
                    <td><%= act.text %></td>
                    <td><%= act.completed ? "✅" : "👀" %></td>
                </tr>
            <% end %>
        </table>
        </div>
    </div>

</div>

<div class="current-task">
    <div class="table-wrapper">
        <table>
        <tr>
            <td>
            <%= "<b>Current Task</b>: #{current_task.text} (#{current_task.percent_completed.to_f}%)" %>
            </td>
            <td>
            <%= "#{running ? '🟢' : '🛑'} #{capture_time}" %>
            </td>
        <tr>
        </table>
    </div>
</div>


</body>
</html>
